	html {
	  background-color: #33CCFF  ;
	}
	 
	body {
	  width: 55em;
	  
	  margin: 0px auto;
	  font-family: times, serif;
	   background-color: #FFFFFF;
	}
	 
	h1{
	color: green;
	padding: 0.4em;
	text-align: center;
	  font-family: verdana, sans-serif;
	 }
	 
	 
	 h2{
	 color: red;
	padding: 0.4em;
	text-align: center;
	  font-family: time new roman, sans-serif;
	  font-weight: bold;
	  font-size: 1.6em;
	 }
	 
	 h3{
	margin: 0.4em;
	  font-family: verdana, sans-serif;
	 }
	 
	 
	  p{
	margin: 0.4em;
	  font-family: verdana, sans-serif;
	 }
	 	 
	#header {
	  background-color: #003366;
	  color: #ffffff;
	  font-family: verdana, sans-serif;
	  font-weight: bold;
	  
	}
	 	 
	#footer {
	position: relative;
	
	width: 15em;

	font-family: verdana, sans-serif;

	font-weight: bold;
	}
	
	#content {
	font-family: verdana, sans-serif;
	font-weight: bold;
	
	width: 35em;
	display: block;
	position: relative;
	left: 10em;
	line-height: 1.5;
	background-color: #33CCCC;
	margin-top: 0.2em;
	border: 3px solid grey;
	paddin: 10px 10px 10px 10px;
	 background-color: #33CCCC;
	text-align: center;		
	}
	
	span{
	color:red;
	}
	
	
	ul
	{
	list-style: none;
		background-color: #3366FF;
		border: 3px solid grey;
		 
	}
	
	#menu li {
  display: inline;
  margin: 0.2em;
  display: inline;
  padding-right: 1.6em;
  margin-right: 0;
}
	
	a 
	{
	font-family: verdana, sans-serif;
	color: white;
	 margin: 1.6em;
	 font-weight: bold;
	 
	line-height: 1.5;
	border: 1px solid black;
	paddin: 3px 10px;
	 background-color:#0066CC;
	 
	}
	
	input
	{
	position: absolute;
	margin-left: 0.2em;
	width: 15em;
	left: 0em;
	}
	
	.buttons
	{
	position: relative;
	left : 0em;
	width : 5em;
	background-color: #FF0000;
	font-family: verdana, sans-serif;
	font-weight: bold;
	}
	
	.buttons2
	{
	position: relative;
	right : 15em;
	width : 7em;
	top:0.5em;
	background-color: #00CC00;
	font-family: verdana, sans-serif;
	font-weight: bold;
	}
	
	label
	{
	color: black;
	margin : 2.2em;
	width: 17em;
	border: 3px solid grey;
	paddin: 3px 10px;
	 background-color: #33CCCC;
	 width: 2em;
	}
	
	
	#img
	{
	position: absolute;
	right:16em;
	top:16em;
	
	}
	
	#img2
	{
	position: absolute;
	left:16em;
	top:16em;
}
	