	html {
	  background-color: #33CCFF  ;
	}
	 
	body {
	  width: 900px;
	  height: 450px;
	  margin: 0px auto;
	  font-family: times, serif;
	  background-color: #ffffff;
	}
	 
h1{
	color: green;
	padding: 10px;
	text-align: center;
	  font-family: verdana, sans-serif;
	 }
	 
	 
	 h2{
	 color: red;
	padding: 10px;
	text-align: center;
	  font-family: verdana, sans-serif;
	 }
	 h3{
	margin: 20px;
	  font-family: verdana, sans-serif;
	 }
	 
	 
	  p{
	margin: 15px;
	  font-family: verdana, sans-serif;
	 }
	 
	 
	#head {
	  background-color: #003366;
	  color: #ffffff;
	  padding: 20px;
	}
	 

	 	div.img  {
background: url(../img/Poll_360.jpg);
background-repeat:no-repeat;

background-position: center;
background-size: 25%;
	}
	 
	#footer {
	  font-family: verdana, sans-serif;
	  padding: 0 10px;
	  font-weight: bold;
	}

	span{
	color:red;
	}
	
	a 
	{
	font-family: verdana, sans-serif;
	color: blue;
	 margin: 5px;
	 
	}
	