	html {
	  background-color: #ddddff;
	}
	 
	body {
	  width: 800px;
	  margin: 0px auto;
	  font-family: times, serif;
	  background-color: #ffffff;
	}
	 
	h1, h2, h3 {
	  font-family: verdana, sans-serif;
	}
	 
	#header {
	  background-color: #666666;
	  color: #ffffff;
	  padding: 20px;
	}
	 

	 	div.item  {
background: url(../img/register.jpg);
background-repeat:no-repeat;
background-position:center;
background-size: 80%;
	}


	 

	 
	#footer {
	  padding: 0 10px;
	}

	span{
	color:red;
	}